html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: #0d0f12;
  /* mismo tono que background(13,15,18) del sketch */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  /* Si la ventana es más chica que el canvas (1200x780),
     permite hacer scroll en vez de recortar el contenido. */
  overflow: auto;
}

canvas {
  display: block;
}